@charset "UTF-8";

   /* 공통스타일 */
    * {
        margin: 0;
        font-family: "Nanum Gothic";
    }
    
    header{
    	border-bottom: red;
    }

    /* a태그 방문시 텍스트 색상 */
   
    a{
        color: rgb(95, 93, 93);
    }

    .logo {
        position: relative;
        right: 200px;
    }

    .menuBar {
        height: 100px;
    }

    /* 바디 해상도 및 폰트 */
    body {
        width: 1366px;
        height: auto;
    }

    /* 상부 유틸 메뉴 스타일 */
    .util {
        background-color: rgb(245, 245, 245);
        border-bottom: rgb(214, 214, 214);
        width: 100%;
        padding: 0;
        height: 40px;
    }

    /* 유틸메뉴 위치 설정 */
    .right-top {
        float: right;

    }

    .right-top>li {
        /* 우측 고정 */
        float: right;
        /* 리스트 표시 없음 */
        list-style-type: none;
        /* 메뉴 사이 간격 벌림 */
        margin-left: 10px;
    }

    /* 유틸 메뉴의 버튼 모양 */
    .right-top>li>button {
        /* 버튼 색 */
        background-color: transparent;
        /* 버튼 외곽선 */
        border: none;
        /* 커서 변화 */
        cursor: pointer;
        /* 버튼 폰트 사이즈 및 폰트 
            일괄 적용이 불가능하여 따로 설정함 */
        font-size: 12px;
        font-family: "Nanum Gothic";
    }

    /* 메뉴바 스타일 */

    /* 메뉴바 전체 */
    .container2 {
        display: inline-flex;
        position: relative;
        left: 200px;
        top: 10px;
    }


    /* 마우스 올렸을때 위치 고정시키기 */
    ul.mainMenu li ul.subMenu {
        position: absolute;
        z-index: 2;

    }

    /* 주 메뉴 영역 */
    .mainMenu {
        text-align: center;
        display: inline-flex;
        font-weight: bold;
        list-style-type: none;
        padding-top: 60px;
        position: relative;
        right: 300px;
        cursor: pointer;
    }
    
    
    /* 회원별명 밑에 드롭다운 */

    div.dropdown {
        position: relative;
    }
    #infomation {
        display: none;
    }
    .dropdown-scope>button {
        border: none;
        background-color: transparent;
    }
    #infomation>ul {
        position: absolute;
        border: 1px solid black;
        padding: 0;
        width: 85px;
        right: 24%;
        background-color:white;
        z-index: 1;
    }
    #infomation>ul>li {
        list-style: none;
        margin: 7px 0;
        text-align: center;
    }
    #infomation>ul>li>button {
        border: none;
        background-color: transparent;
    } 

    
    .mainMenu2 { /*  이거 */
        text-align: center;
        display: inline-flex;
        font-weight: bold;
        list-style-type: none;
        position: relative;
        right: 300px;
        cursor: pointer;
        background-color: white;
        padding-bottom: 1%;
        color: rgb(95, 93, 93);
    }
    .mainMenu2>li {
        list-style-type: none;
    }

    ul.mainMenu li>span>a,
    ul.subMenu>li>a {
        text-decoration: none;
    }

    /* 서브메뉴 영역 */
    .sub-back {
        position: absolute;
        z-index: 1;
        /* display: none; */
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    div.sub-back>div {
        position: relative;
        width: 100%;
        height: 8%;
        background-color: white;
    }
    /* ul.mainMenu>li {
        margin-right: 20px;
        font-size: 15px;
        color: rgb(25, 25, 25);
        float: left;
        width: 150px;
        height: 70px;
        position: relative;

    } */

    /* 서브메뉴 배경색 */
    ul.mainMenu>li,
    ul.subMenu>li {
        position: relative;
        /* right: 35px; */
        margin: 10px 10px;
        text-decoration: none;
        list-style: none;
        width: 130px;
        padding: 0;
    }
    ul.subMenu {
        padding: 0;
    }

    /* 찜 아이콘 */
    #love {
        position: relative;
        width: 30px;
        bottom: 5px;
        right: 350px;
    }

    /* 장바구니 아이콘 */
    #cart {
        position: relative;
        bottom: 7px;
        right: 70px;

    }


    /* 섹션스타일 */
    .scstyle {
        position: relative;
        top: 1px;
        bottom: 100px;
    }

    /* 풋터고정 */
    #line {
        border: 1px solid rgb(240, 238, 238);
        position: relative;
        width: 100%;
    }


    .foot {
        position: relative;
        width: 100%;
        height: auto;
        font-size: 11px;
        text-align: left;
		top:60px;
		bottom:20px;
        display: flex;
        flex-direction: row;
        left: 20%;
        margin: -50px 0 0 -50px;

    }
	
	
    #footImg {
        position: relative;
        left: 200px;
        top: 30px;
    }

    /* ===================================로그인 팝업======================================= */

    /* 로그인 팝업 스타일 */
    /* 팝업시 백그라운드 */
    .modal-back {
        display: none;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        /* border: 1px solid black; */
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* 팝업 크기 */
    .modal-login {
        /* border: 1px solid black; */
        width: 360px;
        /* height: 470px; */
        max-height: 650px;
        padding: 40px;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* margin: center; */
        position: relative;
    }

    /* 로그인 상부 화면 */
    .top-login {
        /* border: 1px solid red; */
        width: 100%;
    }

    /* 닫기버튼(X) */
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close-btn>.close {
        position: relative;
        font-size: 20px;
        cursor: pointer;
    }

    .close:hover {
        color: red;
    }

    /* 로그인 하부 화면 */
    .bottom-login {
        /* border: 1px solid blue; */
        width: 100%;
        height: 50%;
        padding: 70px 0px 0px;
    }

    /* 로고 사진 */
    .login-logo {
        /* padding-bottom: 40px; */
        text-align: center;
        /* padding: 0 127px 40px 127px; */
        width: 50%;
        margin-bottom: 50px;

    }

    /* 아이디/비번 입력창 */
    div.inputLogin>input {
        width: 100%;
        height: 50px;
        border: none;
        border-bottom: 1px solid rgb(238, 238, 238);
        margin-top: 15px;
        font-size: 14px;
        cursor: text;
    }


    input {
        outline: none;
    }

    /* 아무것도 안쓰고 로그인 눌렀을때 나오는문구 */
    form span.error {
        padding-top: 10px;
        font-size: 10px;
        color: red;
        display:block;
    }
    span.correct {
    	padding-top: 10px;
        font-size: 10px;
        color: green;
        display:block;
    }

    /* 로그인 버튼 */
    .big-gray-btn {
        padding: 0 97px;
        line-height: 48px;
        width: 100%;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        background-color: #757575;
        border: 1px solid #757575;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    .enrollEnd>.big-gray-btn {
        padding: 0 97px;
        margin-top: 150px;
        line-height: 48px;
        width: 100%;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        background-color: #757575;
        border: 1px solid #757575;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    /* 로그인 버튼 호버시 */
    .big-gray-btn:hover {
        background-color: #646464;
        border: 1px solid #646464;
        cursor: pointer;
    }

    /* 로그인창 하단 회원가입, 비번찾기 구역 */
    .find-info {
        padding: 30px 0 0 0;
        width: 100%;
        text-align: center;
    }

    /* 로그인창 하단 회원가입, 비번찾기 버튼 */
    .find-info>button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #191919;
    }

    .find-info>.line {
        width: 1px;
        height: 11px;
        padding: 0 10px;
        color: rgb(221, 221, 221);
    }

    /* 회원가입 창 스타일 */
    .modal-enroll {
        border: 1px solid black;
        width: 440px;
        padding: 40px 0 30px 0;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        position: relative;
    }

    /* 회원가입 중간 폼 태그 */
    .modal-enroll>div>form {
        /* border: 1px solid red; */
        width: 440px;
    }

    /* 회원가입 상부 타이틀 스타일 */
    .top-enroll>h1 {
        padding: 0 0 40px 0;
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        color: black;
    }

    /* 회원가입 중간부 스타일 */
    .middle-enroll {
        /* border: 1px solid blue; */
        width: 380px;
        padding: 0 30px;
    }

    /* 회원가입 양식 테이블 스타일 */
    .enroll-form {
        width: 100%;
        text-align: left;
        font-size: 12px;
        border-spacing: 0;
    }

    /* 테이블 로우마다 줄 긋기 실패 */
    .enroll-form>tbody>.inTR {
        border: 1px solid red;
        /* line-height: 50px; */
        padding-top: 10px;
    }

    /* td부분 상하 패딩처리 */
    .enroll-form>tbody>tr>td {
        padding: 8px 0;
        /* display: table-cell; */
    }

    .enroll-form>tbody>tr>th {
        padding-top: 4.5%;
        /* display: table-cell; */
        vertical-align: top;
    }

    /* 가입양식 입력 input 스타일 */
    .inputEnroll>input {
        width: 90%;
        height: 34px;
        padding: 0 10px;
        line-height: 34px;
        border: 0;
        outline: 1px solid rgb(212, 212, 212);
    }

    /* 회원가입 양식 중 * 별표 스타일 */
    .enroll-form tbody tr th em {
        color: #e5362c;
        font-style: normal;
        font-weight: normal;
    }

    /* 이용약관 동의부분 스타일 */
    .agreement {
        padding: 30px 0 0 0;
    }

    /* 이용약관 클릭부분 */
    .agree-btn {
        font-size: 12px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-decoration: underline;
        padding: 0;
    }

    /* 체크박스 부분 스타일 */
    .checkbox {
        padding-bottom: 10px;
    }

    /* 약관 동의 글 스타일 */
    .checkbox>label {
        line-height: 16px;
        font-size: 12px;
        vertical-align: top;
    }

    /* 체크박스 체크부분 input 스타일 */
    .checkbox>input {
        width: 16px;
        height: 16px;
    }

    /* 가입창 하단부 스타일 */
    .bottom-enroll {
        /* border: 1px solid red; */
        padding: 30px 30px 0 30px;
    }

    /* 비번찾기 링크 팝업 스타일 */
    .modal-findPw {
        border: 1px solid black;
        width: 440px;
        height: 535px;
        padding: 40px 30px 30px 30px;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        position: relative;
    }

    /* 이용약관 링크 팝업 스타일 */
    .modal-usePolicy {
        border: 1px solid black;
        width: 440px;
        height: 564px;
        padding: 40px 30px 30px 30px;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        position: relative;
    }

    /* 개인정보 수집 팝업 스타일 */
    .modal-personalInfo {
        border: 1px solid black;
        width: 440px;
        height: 564px;
        padding: 40px 30px 30px 30px;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        position: relative;
    }

    .url-html {
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
    }

    /* 이용약관 등 새로운 html들 크기 */
    #htmlPolicy,
    #htmlpInfo,
    #htmlPw {
        margin: 0;
        padding-right: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }

    /* 가입항목 에러시 입력창표시 */
    td.inputEnroll>input.error {
        outline: 1px solid red;
    }

    /* 로그인창 에러시 입력창표시 */
    div.inputLogin>input.error {
        border-bottom: 1px solid red;
    }

    /* 로그인창 하단부 로고 이미지 */
    #login-form>#loginCenterImg {
        padding: 0 5%;
        margin-top: 30px;
    }

    /* 로그인 창 sns 이미지 div */
    #login-form>div>div.img {

        padding: 25px 18px 0 18px;
        display: inline;
        position: relative;
    }

    /* 로그인 창 sns 이미지 스타일 */
    #login-form>div>div.img>img {
        margin: 25px 0 0 0;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        image-resolution: 0.5;
        opacity: 0.5;
    }

    /* 로그인 창 사진 배치 스타일 */
    .top-login>span {
        padding: 0 25% 0 25%;
    }

    .modal-enrollEnd {
        width: 500px;
        padding: 40px;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        position: relative;
        text-align: center;
    }

    /* Add Zoom Animation 
    팝업시 줌 애니메이션*/
    .animate {
        animation: animatezoom 0.6s
    }


    @keyframes animatezoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }